<div id="profiles" v-cloak>
    <div class="app-title">
        <div>
            <h1><i class="fa fa-cog"></i> Profiles Settings</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <!-- <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Save</ajax-button> -->
        </ul>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="tile">
                <div class="tile-title-w-btn">
                    <h3 class="title">Any</h3>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-edit"></i></a>
                        <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-trash"></i></a>
                    </div>
                </div>
                <div class="tile-body">
                    <span class="badge badge-primary">Portuguese (pt_BR)</span>
                    <br>
                    <span class="badge badge-dark">Bluray-1080p</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>